body {
  background-color: var(--background);
}

main {
  max-width: 60vw;
  margin: 0 auto;
}

/* Title */
h1 {
  text-align: center;
  margin: 1rem;
}

/* Text Colour */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
}

/* Game */
.game-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  background-color: var(--surface);
  border: 2px solid var(--highlight);
  padding: 1rem;
  border-radius: 16px;
  height: 570px;
}

/* Player Information */
.player-information {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 0.5rem;
}

/* Player Cards */
.player-cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.playing-card {
  margin: 0.5rem;
  display: inline-block;
}
.dealers-hand,
.players-hand {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
/* Card Overlap */
.card-0,
.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7,
.card-8,
.card-9,
.card-10 {
  grid-column: 1;
  grid-row: 1;
  width: 200px;
  height: 150px;
}
.card-1 {
  margin-left: 60px;
  z-index: 1;
}
.card-2 {
  margin-left: 120px;
  z-index: 2;
}
.card-3 {
  margin-left: 180px;
  z-index: 3;
}
.card-4 {
  margin-left: 240px;
  z-index: 4;
}
.card-5 {
  margin-left: 300px;
  z-index: 5;
}
.card-6 {
  margin-left: 360px;
  z-index: 6;
}
.card-7 {
  margin-left: 420px;
  z-index: 7;
}
.card-8 {
  margin-left: 480px;
  z-index: 8;
}
.card-9 {
  margin-left: 540px;
  z-index: 9;
}
.card-10 {
  margin-left: 600px;
  z-index: 10;
}

/* Game Buttons */
.game-buttons {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 0.5rem;
}
.game-buttons button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 8px;
  background-color: var(--primary);
  height: 3rem;
  width: 100%;
  border: 1px solid var(--primary);
}
.game-buttons button:hover {
  cursor: pointer;
  border: 2px solid var(--accent);
}

/* Statistics Table */
.table-container {
  overflow-x: auto;
  margin: 1rem 0;
  border-radius: 4px;
}
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 1rem;
  background-color: var(--secondary);
}
thead {
  background-color: #009879;
  color: var(--text);
  text-align: left;
}
th,
td {
  padding: 12px 15px;
}
