/* ---------- Colours ---------- */
:root {
  --background: #0b3d2e;
  --surface: #14532d;
  --primary: #d4af37;
  --secondary: #f8f5e9;
  --accent: #b22222;
  --highlight: #facc15;
  --success: #22c55e;
  --text: #fafafa;
  --dark-text: #1a1a1a;
}

/* ---------- Layout ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide overflow on mobile */
html,
body {
  overflow-x: hidden;
}

/* ---------- Fonts ---------- */
/* Import Headings Font */
@font-face {
  font-family: "Cinzel";
  src: url("assets/fonts/cinzel.ttf") format("woff2");
}

/* Import Body Font */
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/inter.ttf") format("woff2");
}

/* Set Headings Font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel", sans-serif;
}

/* Set Body Font */
body {
  font-family: "Inter", sans-serif;
}

/* Set Buttons Font */
button {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
