/* ---------- Colours ---------- */
:root {
  --white: #ffffff; /* White */
}

/* ---------- Layout ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide overflow on mobile */
html,
body {
  overflow-x: hidden;
}

/* ---------- Fonts ---------- */
/* Import Headings Font */
/* @font-face {
  font-family: "SpaceGrotesk";
  src: url("assets/SpaceGrotesk-VariableFont_wght.ttf") format("woff2");
} */

/* Set Body Font */
/* body {
  font-family: "Inter", sans-serif;
} */

/* Set Headings Font */
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SpaceGrotesk", sans-serif;
} */
